version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: sivatechdigital
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: my_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: shivatechdigital
      MYSQL_DATABASE: shivatechdigital
      MYSQL_USER: user
      MYSQL_PASSWORD: shivatechdigital
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database-sql/data.sql:/docker-entrypoint-initdb.d/data.sql

volumes:
  db_data: